@tailwind base;
@tailwind components;
@tailwind utilities;

.box{
    width: 338px;
    height: 119px;
    top: 64px;
    left: 499px;
    gap: 0px;
    border-radius: 10px;
    border: 1px;
    padding: 4px 2px;
    border: 1px solid #FF8A38;
    box-shadow: 0px 4px 4px 0px #00000040;

}
.rounded{
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}
.p-tabview-title {
    color: #5f5f5f;
}
.p-button{
    background : #FF8A38;
    border: none;
}
.custom-knob .p-knob-value {
    stroke: #FF8A38;
}

.p-rating .p-rating-item.p-rating-item-active .p-rating-icon {
    color: #FF8A38;
}
.p-accordion-header-text, .p-accordion-toggle-icon {
    color : #7a7979 !important;
}
